Remotecontrol
[{"id":"d02dcb35.4ced38","type":"mqtt-broker","broker":"op-en.se","port":"1883","clientid":""},{"id":"ff5a4c71.fb5428","type":"mqtt in","name":"","topic":"tmp/stugan/control","broker":"d02dcb35.4ced38","x":159,"y":391,"z":"b1aa31f3.824c88","wires":[["448fa740.227f"]]},{"id":"5717ba93.47f624","type":"exec","command":"/bin/bash /home/pi/restart_rev_central","addpay":false,"append":"","useSpawn":"","name":"Reverse tunnels central","x":507,"y":182,"z":"b1aa31f3.824c88","wires":[["48aeb0df.504188"],["48aeb0df.504188"],["48aeb0df.504188"]]},{"id":"48aeb0df.504188","type":"debug","name":"","active":true,"console":"false","complete":"false","x":678,"y":298,"z":"b1aa31f3.824c88","wires":[]},{"id":"448fa740.227f","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":"open"},{"t":"eq","v":"close"}],"checkall":"true","outputs":2,"x":186,"y":181,"z":"b1aa31f3.824c88","wires":[["5717ba93.47f624"],["290e3edd.7e379a"]]},{"id":"290e3edd.7e379a","type":"exec","command":"/bin/bash /home/pi/stop_rev_central","addpay":false,"append":"","useSpawn":"","name":"Stop reverse tunnels central","x":485,"y":424,"z":"b1aa31f3.824c88","wires":[["48aeb0df.504188"],["48aeb0df.504188"],["48aeb0df.504188"]]}]
