Watchdog.js
[{"id":"2fca78db.d03588","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"df0c1d6f.20f3e","type":"serial in","name":"","serial":"2fca78db.d03588","x":464,"y":213,"z":"f82cc5a1.07d338","wires":[["b193f71b.243bd","b289eae2.4d7618"]]},{"id":"636ef203.9c910c","type":"serial out","name":"Arduino","serial":"2fca78db.d03588","x":343,"y":213,"z":"f82cc5a1.07d338","wires":[]},{"id":"aa103d5.f55efc","type":"inject","name":"reset_watchdog","topic":"","payload":"reset_watchdog","payloadType":"string","repeat":"","crontab":"","once":false,"x":201,"y":405,"z":"f82cc5a1.07d338","wires":[["636ef203.9c910c"]]},{"id":"b289eae2.4d7618","type":"debug","name":"","active":false,"console":"false","complete":"false","x":676,"y":263,"z":"f82cc5a1.07d338","wires":[]},{"id":"f5ea4652.0a15b8","type":"inject","name":"","topic":"","payload":"status","payloadType":"string","repeat":"","crontab":"","once":true,"x":172,"y":479,"z":"f82cc5a1.07d338","wires":[["636ef203.9c910c"]]},{"id":"b3b13bcf.4c4ec8","type":"inject","name":"12V på ","topic":"","payload":"relay3 on","payloadType":"string","repeat":"","crontab":"","once":true,"x":122,"y":132,"z":"f82cc5a1.07d338","wires":[["636ef203.9c910c","d35680f0.2ca98"]]},{"id":"dfb51f92.204ae","type":"inject","name":"12V av","topic":"","payload":"relay3 off","payloadType":"string","repeat":"","crontab":"","once":false,"x":151,"y":181,"z":"f82cc5a1.07d338","wires":[["636ef203.9c910c"]]},{"id":"c4511706.3baee8","type":"inject","name":"","topic":"","payload":"reset","payloadType":"string","repeat":"","crontab":"","once":false,"x":168,"y":526,"z":"f82cc5a1.07d338","wires":[["636ef203.9c910c"]]},{"id":"a6f4f329.590b1","type":"inject","name":"Beep alarm","topic":"","payload":"relay4 on for 50","payloadType":"string","repeat":"","crontab":"","once":false,"x":171,"y":72,"z":"f82cc5a1.07d338","wires":[["636ef203.9c910c"]]},{"id":"a7f652b7.5809b","type":"inject","name":"Tickle alarm","topic":"","payload":"relay4 on for 10","payloadType":"string","repeat":"","crontab":"","once":false,"x":150,"y":34,"z":"f82cc5a1.07d338","wires":[["636ef203.9c910c"]]},{"id":"9da2663a.625d98","type":"inject","name":"Extern 5V på ","topic":"","payload":"relay2 on","payloadType":"string","repeat":"","crontab":"","once":false,"x":125,"y":246,"z":"f82cc5a1.07d338","wires":[["636ef203.9c910c"]]},{"id":"35d1bc73.ca2e44","type":"inject","name":"Extern 5V av","topic":"","payload":"relay2 off","payloadType":"string","repeat":"","crontab":"","once":false,"x":126,"y":284,"z":"f82cc5a1.07d338","wires":[["636ef203.9c910c"]]},{"id":"712c34d5.8ed3cc","type":"inject","name":"","topic":"","payload":"help","payloadType":"string","repeat":"","crontab":"","once":false,"x":213,"y":713,"z":"f82cc5a1.07d338","wires":[["636ef203.9c910c"]]},{"id":"b7b6e5ab.484918","type":"inject","name":"Reset watchdog and set to 4min ","topic":"","payload":"set_watchdog_timeout 240000","payloadType":"string","repeat":"15","crontab":"","once":true,"x":183,"y":342,"z":"f82cc5a1.07d338","wires":[["636ef203.9c910c"]]},{"id":"d35680f0.2ca98","type":"delay","name":"Retry","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":408,"y":109,"z":"f82cc5a1.07d338","wires":[["636ef203.9c910c"]]},{"id":"b193f71b.243bd","type":"switch","name":"Check response","property":"payload","rules":[{"t":"cont","v":"resetting in..."},{"t":"cont","v":"watchdog_timeout ="}],"checkall":"true","outputs":2,"x":455,"y":375,"z":"f82cc5a1.07d338","wires":[["2e81915.0b3cb6e","f2f9f833.bf511","b000c4e7.9c80c"],["76a5a951.fa988"]]},{"id":"2e81915.0b3cb6e","type":"debug","name":"","active":true,"console":"false","complete":"false","x":720,"y":416,"z":"f82cc5a1.07d338","wires":[]},{"id":"f2f9f833.bf511","type":"change","name":"Set WTD to 4 min","rules":[{"t":"set","p":"payload","to":"set_watchdog_timeout 240000"}],"action":"","property":"","from":"","to":"","reg":false,"x":561,"y":597,"z":"f82cc5a1.07d338","wires":[["636ef203.9c910c"]]},{"id":"6e776710.d431c8","type":"inject","name":"","topic":"","payload":"resetting in...","payloadType":"string","repeat":"","crontab":"","once":false,"x":398,"y":437,"z":"f82cc5a1.07d338","wires":[["b193f71b.243bd"]]},{"id":"b000c4e7.9c80c","type":"pushover","title":"Stugan","name":"Anton","priority":0,"x":802,"y":351,"z":"f82cc5a1.07d338","wires":[]},{"id":"11bc2f41.bf6119","type":"rpi-gpio in","name":"Undervoltage","pin":"35","intype":"tri","read":false,"x":368,"y":667,"z":"f82cc5a1.07d338","wires":[["e8dcc102.934ff"]]},{"id":"e8dcc102.934ff","type":"change","name":"Undervoltage","rules":[{"t":"set","p":"payload","to":"Undervoltage"}],"action":"","property":"","from":"","to":"","reg":false,"x":573,"y":696,"z":"f82cc5a1.07d338","wires":[["b000c4e7.9c80c"]]},{"id":"76a5a951.fa988","type":"trigger","op1":"","op2":"No reset of watchdog detected","op1type":"nul","op2type":"val","duration":"60","extend":true,"units":"s","name":"Guard watchdog resets","x":667,"y":134,"z":"f82cc5a1.07d338","wires":[["b000c4e7.9c80c"]]},{"id":"c9a3eb0f.c372a","type":"inject","name":"1sec alarm","topic":"","payload":"relay4 on for 1000","payloadType":"string","repeat":"","crontab":"","once":false,"x":372,"y":47,"z":"f82cc5a1.07d338","wires":[["636ef203.9c910c"]]}]
